<!DOCTYPE html>
<html lang="en">
<head>
    <title>Redis Manager</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/webjars/bulma/0.7.0/css/bulma.css">
    <link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- header -->
<div class="hero-head">
    <section class="hero is-primary" id="contact">
        <div class="hero-body">
            <div class="container">
                <div class="header-titles">
                    <h3 class="title is-3 is-spaced">Redis Manager</h3>
                </div>
                <div class="header-buttons">
                    <span class="control"></span>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end of header -->

<!-- example content block -->
<div class="content-block">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><abbr title="Position">Key</abbr></th>
                        </tr>
                        </thead>

                        <tbody>
                        {{#keys}}
                            <tr>
                                <td><a href="/redis/{{.}}">{{.}}</a></td>
                            </tr>
                        {{/keys}}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>
    <hr/>
</div>
<!-- end of example block -->

</body>
</html>